<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6GibzXB2Ryq66tnVDBO3SOb7eICr91ps</string>
	<key>GCM_SENDER_ID</key>
	<string>751011338371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.playduel</string>
	<key>PROJECT_ID</key>
	<string>play-duel</string>
	<key>STORAGE_BUCKET</key>
	<string>play-duel.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751011338371:ios:e9b6c7d7306a540a55e3b6</string>
	<key>CLIENT_ID</key>
	<string>462754188770-o0asc8ftvkskfv7qr5el9buvqon8q5fg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462754188770-o0asc8ftvkskfv7qr5el9buvqon8q5fg</string>
</dict>
</plist>